@import url("global.css");

body {
    max-width: 1250px;
    margin: 0 auto;
    border-color: navy;
    border-width: 2px;
    border-style: ridge;
    border-radius: 30px;
    background-color: aliceblue;
}

figure {
    display: inline-block;
}

p {
    padding: 2px;
}

ul {
    list-style: none;
}

li::before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 6px;
    color: navy; /* Or a color you prefer */
  }

.innerNavBar {
    display: none;
}
