@import url("global.css");

body {
    max-width: 1250px;
    margin: 0 auto;
    border-color: navy;
    border-width: 2px;
    border-style: ridge;
    border-radius: 30px;
    background-color: aliceblue;
}

img {
    margin:0 auto;
}

p {
    padding: 2px;
}

.innerNavBar {
    display: none;
}
