@import url("global.css");

html {
    background-image: linear-gradient(to bottom right, navy, blue);
    background-repeat: no-repeat;
}

body {
    max-width: 1250px;
    margin: 0 auto;
    border-color: navy;
    border-width: 2px;
    border-style: ridge;
    border-radius: 30px;
    background-color: aliceblue;
}

figure > img {
    display: block;
    float: right;
}

ul {
    list-style: none;
}

li::before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 6px;
    color: navy; /* Or a color you prefer */
}

li {
    list-style-position: inside;
}

p {
    display: inline;
}

.innerNavBar {
    display: none;
}

#details {
    margin-left: 8px;
    margin-right: 8px;
}
